@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Depot Explorer</h1>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">

            <p>
                Check Depot Lists and their Suppliers!
            </p>
            <p></p>
        </section>
    </div>
</main>